body {
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg");
    background-color: greenyellow;
  }


h1 {
    color: green;
    margin-right: 30px;
  }

div {
    border: solid azure; 
    color:palegoldenrod;
    width: 140px; 
    height: 60px;
    transform: skew(21deg) rotate(35deg) translate(-300px, 200px);
    transform-origin: left;
    margin: 100px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    height: max-content;
    width: max-content;
    line-height: 20px;
    float: right;
    max-width:100px;
    /* word-wrap:normal; */
    /* white-space: normal; */

}